html {
    height: 100%;
}

.margin20tb {
    margin: 20px 0;
}

.btn-green {
    border-color: #5cb85c;
    color: #5cb85c;
    margin: 10px 0;
    background-color: #fff;
    white-space: normal !important;
    word-wrap: break-word;
    &:hover {
        background-color: #5cb85c;
        color: #fff;
    }
}

.btn-margin-auto {
    margin: 0 auto;
}